.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profileButton {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.profileButton:hover {
  background-color: #005bb5;
}

.profileButton:active {
  transform: scale(0.98);
}

.buttonOpen {
  background-color: #005bb5; /* Darker color when the profile is open */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of other content */
}

.profileDetails {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 80%;
  max-width: 400px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s ease, max-height 1s ease; /* Increased duration to 1 second */
}

.profileDetails.show {
  opacity: 1;
  max-height: 500px; /* Adjust based on content height */
}

.profileDetails.hide {
  opacity: 0;
  max-height: 0;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userName {
  font-size: 24px;
  font-weight: bold;
}

.userRoles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.userRole {
  font-size: 18px;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
}

.roleCoder {
  background-color: #0070f3; /* Example color for 'Coder' role */
}

.roleDesigner {
  background-color: #f39c12; /* Example color for 'Designer' role */
}

@media (max-width: 600px) {
  .profileButton {
    font-size: 14px;
  }

  .profileDetails {
    width: 90%;
  }

  .avatar {
    width: 80px;
    height: 80px;
  }

  .userName {
    font-size: 20px;
  }

  .userRole {
    font-size: 16px;
  }
}
