.userProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profileButton {
  background-color: #2e3f6e;
  color: white; /* White text */
  border: none; /* Remove border */
  padding: 10px 20px; /* Padding inside the button */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size for the text */
  text-align: center; /* Center the text */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.profileButton:hover {
  background-color: #005bb5; /* Darker blue on hover */
}

.profileDetails {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7); /* Black transparent background */
  padding: 20px;
  border-radius: 10px;
  color: white;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.profileDetails.show {
  opacity: 1;
  max-height: 500px; /* Adjust based on content height */
}

.profileDetails.hide {
  opacity: 0;
  max-height: 0;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userName {
  font-size: 24px;
  font-weight: bold;
}

.userRoles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.userRole {
  font-size: 18px;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
}

.roleCoder {
  background-color: #0070f3; /* Blue color for 'Coder' role */
}

.roleDesigner {
  background-color: #f39c12; /* Orange color for 'Designer' role */
}

@media (max-width: 600px) {
  .profileButton {
    font-size: 14px;
  }

  .profileDetails {
    width: 90%;
  }

  .avatar {
    width: 80px;
    height: 80px;
  }

  .userName {
    font-size: 20px;
  }

  .userRole {
    font-size: 16px;
  }
}
