.userProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profileButton {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.profileDetails {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(30, 30, 30), rgba(60, 60, 60));
  padding: 20px;
  border-radius: 20px;
  border: 4px solid rgba(25, 25, 25);
  color: white;
  font-size: 100%;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-family: sans-serif;
  width: 50%;
}

.profileDetails.show {
  opacity: 1;
  transform: scaleY(1);
}

.profileDetails.hide {
  opacity: 0;
  transform: scaleY(0);
}

.avatar {
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: transparent;
  height: 150px;
  width: 150px;
}

.avatarBackground {
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  
  top: 10px;
  white-space: pre;
  overflow-x: auto;
  height: 150px;
  margin-bottom: -18%;
  margin-top: -4%;
  font-family: sans-serif;
}

.userInfo {
  flex-direction: column;
  display: flex;
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;
}

.userName {
  font-size: 60px;
  font-weight: bold;
  align-items: left;
  font-family: sans-serif;
}

.userRoles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: sans-serif;
}

.userRole {
  font-size: 18px;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  font-family: sans-serif;
}

.roleCoder {
  background-color: #0070f3;
  border-radius: 20px;
  border: 4px solid rgba(30, 30, 30);
  font-size: 45px;
  font-family: sans-serif;
}

.roleDesigner {
  background-color: #f39c12;
  border-radius: 20px;
  border: 4px solid rgba(30,30, 30);
  font-size: 45px;
  font-family: sans-serif;
}

.discordIcon {
  width: 75px;
  height: 75px;
  object-fit: contain;
  background-color: transparent;
}

.roleBackground {
  background-color: rgba(30, 30, 30);
  border-radius: 20px;
  border: 2px solid rgba(10, 10, 10);
}

@media (max-width: 600px) {
  .profileDetails {
    width: 60%;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }

  .avatarBackground {
    height: 100px;
    margin-bottom: -26%;
    margin-top: -10%;
    border-radius: 10px;
    width: 120%;
  }

  .userName {
    text-align: center;
    font-size: 30px;
  }

  .userInfo {
    font-size: 15px;
  }
  
  .userRole {
    font-size: 16px;
  }
  
  .discordIcon {
    width: 50px;
    height: 50px;
  }

  .roleCoder {
    font-size: 20px;
    border-radius: 10px;
  }

  .roleDesigner {
    font-size: 20px;
    border-radius: 10px;
  }

  .profileDetails {
    border-radius: 10px;
  }

  .roleBackground {
    border-radius: 10px;
  }
}
